html,body{
  margin:0;
  padding:0;
  font-family:sans-serif;
}

h1,h2,h3,h4,h5,h6{
  background-color:#5800bd;
  color:white;
}

h1.title{
  background-color:#0000e4;
  font-size:6em;
  margin:0;
  text-align:center;
}

.contents{
  font-size:1.5em;
  max-width:1000px;
  margin:0 auto;
}
