
/**
 * -iables.
 */

:root {
  --white: #fefefe;
  --light-gray: #ededed;
  --gray: #a3a3a4;
  --dark-gray: #4a4848;
  --black: #262727;
  --gold: #daae20;

  --sentinel: "Sentinel SSm A", "Sentinel SSm B", "Sentinel", "Georgia", sans-serif;
  --tungsten: "Tungsten A", "Tungsten B", "Tungsten", "Impact", sans-serif;
  --source-code: "Source Code", monospace;

  --m: 1.25;
  --much-smaller: calc(1em / -(m) / -(m));
  --smaller: calc(1em / -(m));
  --larger: calc(1em * -(m));
  --much-larger: calc(1em * -(m) * -(m));
}