  <footer>
    <a href="{{twitter}}" target="_blank">twitter</a>
    <a href="{{facebook}}" target="_blank">Facebook</a>
    <a href="{{github}}" target="_blank">Github</a>
  </footer>

</body>
</html>