doctype html
html
  head
    title= title
    meta(charset= 'utf-8')
    meta(name= 'description', content= description)
  body
    h1= title
    p= description
    ul
      each post in posts
        li
          a(href='/' + post.path)= post.title