doctype html
html
  head
    title My Blog
    meta(charset= 'utf-8')
    meta(name= 'viewport' content= 'device-width, initial-scale=1.0')
    meta(name= 'description', content= description)
    meta(name= 'generator' content= 'metalsmith')
  body
    h1= title
    time= date
    div!= contents
