doctype html
head
  title= title
  meta(name='description', content= description)
body
  h1= title
  p!= description
  .links
    a(href="https://twitter.com/" + twitter) Twitter
    a(href="https://github.com/" + github) GitHub
    a(href="https://facebook.com/" + facebook) Facebook
